/*Document*/
/*End*/

/*General*/
p1 {
	font-size: 1.3em;
}

h2 {
	font-size: 1.7em;
}

h3 {
	font-size: 1.6em;
	margin-top: 8px;
	margin-bottom: 8px;
}

h4 {
	font-size: 1.5em;
	margin-top: 4px;
	margin-bottom: 4px;
}

div {
	border-bottom: 2px solid black;
}

input, textarea, select {
	font-size: 1.2em;
	margin: 5px;
	margin-left: 0px;
	border: 1px solid black;
}

input {
	width: 100%;
}

textarea {
	width: 99.75%;
}

select {
	width: 20%;
}

button {
	font-size: 1em;
	margin: 5px;
	margin-left: 0px;
}

form {
	border-bottom: 2px solid black;
}

h2.title {
	margin-top: 8px;
	margin-bottom: 8px;
}
/*End*/

/*Header and Nav*/
h1.header {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav {
	border-bottom: 2px solid black;
	margin-bottom: 1em;
}

table.nav {
	width: 100%;
	table-layout: fixed;
}

tr.nav {
	width: 15%;
}

a.nav {
	text-decoration: none;
}

h2.nav {
	margin: 0px;
	padding-top: 5px;
	border-top: 4px solid black;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h2.nav:hover {
	margin-top: 2px;
	border-top: 2px solid grey;
}
/*End*/

/*Footer*/
a.footerNavLink {
	text-decoration: none;
}

h2.footerNav {
	display: inline-block;
  	width: 15%;
 	border-bottom: 4px solid black;
 	padding: 25px;
 	padding-top: 5px;
 	padding-bottom: 0px;
	margin: 0;
 	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h2.footerNav:hover{
	border-bottom: 2px solid gray;
}

footer {
	padding-top: 15px;
	padding-bottom: 5px;
	border-bottom: 0px;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/*End*/

/*Index*/
#scoreboard {
	border-collapse: collapse;
	margin-top: 1em;
	width: 100%;
	text-align: center;
}

tr.scoreboardRow {
	height: 45px;
}

th.scoreboardHeader {
	border: 3px solid black;
}

td.scoreboardCell {
	border: 1px solid black;
	font-size: 1.2em;
}
/*End*/

/*Browse*/
div.challenge {
	border-bottom: 1px solid black;
	padding-left: 16px;
}
/*End*/

/*User*/
div.userStat {
	height:17.5rem;
	border-top:2px solid black;
	border-bottom: 0px;
	background-color: #e8e8e8;
	overflow-y:scroll;
	overflow-x: hidden;
}
/*End*/
